*{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

body{
  min-height: 100vh;
  margin: 0;

  /*Nascondo la scrollbar*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /*UTILIZZO FLEXBOX*/
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

header {
    position: fixed;
    top: 8px; 
    left: 0;
    height: 55px;
    margin-bottom: 9px;
    z-index: 1;
    width: 100%;
    font-weight: 1000px;
}

.headerbackground {
  background: linear-gradient(to right, #4e0612,black);
  position: fixed;
  top: 0; 
  left: 0;
  height: 70px;
  margin-bottom: 10px;
  z-index: -1;
  width: 100%;
  font-weight: 1000;
  opacity:0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.headvisible{
 opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media(max-width: 991px){
    #navigatorbar{
        display: none;
    }
    #menuicon{
        display: default;
    }
    .loginbuttons{
        padding-right: 1px;
    }
}

@media(min-width: 992px){
    #navigatorbar{
        display: default;
    }
    #menuicon{
        display: none;
    }
    .loginbuttons{
        padding-right: 5vh;
    }
}


.nav-link{
    color: black;
    background-color:  rgba(255, 255, 255, 0.336);
    font-weight: 1000;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient( black,#4e0612);
    color: white;
}

.bi-list{
  cursor: pointer;
    color:black;
    transform: scale(1.0);
    transition: transform .15s ease-in-out;
}

.bi-list:hover{
    transform: scale(1.1);
}

.btn{
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

button{
  box-shadow: 1px 1px 5px black !important;
  transform: scale(1);
  transition: scale 1s ease-in !important;
}

button:hover{
  transform: scale(1.05);
}

.btn-danger{
  border:0px;
  background: linear-gradient(to right,black, #4e0612,black);
  background-size: 200%;
}

.btn-danger:hover{
  opacity: .9;
}


.jumbotron{
    background-image: url("../media/sfondolibri.jpg");
    background-size: cover;
    background-color: #cccccc;
    background-attachment: fixed;
}


.fw-light{
  color:rgb(255, 255, 255);
  font-size: 350%;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

#logo{
  width: 70%;
  height: 70%;
}

.lead{
  color:white;
  
}

.jumbotext{
    padding: 10px;
}

.blur {
    height: 100%;
    backdrop-filter: blur(3px); /* blur effect to the backdrop */
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

.spacer{
  height: 55px;
  width: 100%;;
}

.whiteback{
    background-color: rgba(7, 48, 58, 0.4);
}

.templateimg{
    opacity: 100%;
    min-height: 50px;
}

.album{
    background-image: url("../media/desk.jpg");
    background-size: cover;
    background-position: 0px 800px;
}

.rowalbum{
  max-width: 1000px;
  display: flex;
  align-items: stretch;
}

.blockimg{
  cursor:pointer;
  color:black;
  display: flex;
  transform: scale(1);
  transition: all 0.05s ease-in;
  border-radius: 20px;
  overflow: hidden;
}

.blockimg:hover{
  transform: scale(1.05);
}

.card-body{
  flex: 1 1 auto;
}

.mailtext{
    padding-left: 3px;
}

/*FRAMMENTO DI BOOTSTRAP CSS PER FOOTER*/

.ion{
    color: white;
}

footer {
  padding-bottom: 0.5em; 
  padding-top: 1.5em; 
  margin-top:auto;
  margin-bottom: 0;
}
  
  .footer-09 {
    background: linear-gradient(to right, black,#4e0612);
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1a5e', endColorstr='#5126a7', GradientType=1 ); }
    .footer-09 .border-top {
      border-color: rgba(255, 255, 255, 0.1) !important; }
    .footer-09 a {
      color: #e5ff00; }
      .footer-09 a:hover {
        color: rgba(255, 255, 255, 0.9); }
    .footer-09 p {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .footer-heading {
      color: #fff;
      text-decoration: underline;
      font-size: 22px;
      margin-bottom: 30px; }
      .footer-09 .footer-heading .icon {
        width: 40px;
        margin-right: 10px;
        border-radius: 50%;
        height: 40px;
        display: block;
        color: #fe59d7;
        border: 1px solid #fe59d7; }
    .footer-09 ul.list-unstyled li a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .heading a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .meta div a {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .block-23 ul li {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 0; }
      .footer-09 .subscribe-form .form-group input {
        background: rgba(0, 0, 0, 0.05) !important;
        border: 2px solid #fe8ce3 !important;
        outline: none !important;
        color: rgba(255, 255, 255, 0.3) !important;
        font-size: 16px;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .footer-09 .subscribe-form .form-group .submit {
        color: #fff !important;
        display: block;
        width: 52px;
        height: 52px;
        font-size: 16px;
        background: #fe8ce3 !important;
        border: none;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group .submit:hover, .footer-09 .subscribe-form .form-group .submit:focus {
          text-decoration: none !important;
          outline: none !important; 
        }
  
.footerlist{
  list-style-type: none;
  justify-content: left;
  padding-left: 1px;
  color: yellow;
}

/*SIDE NAVBAR*/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(14, 0, 0); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*PROFILE*/ 

@media screen and (min-width: 768px) {
  .rounded{
    padding-top: 8em;
  }
}

.facoltadiv{
  display: none;
}

.indirizzodiv{
  display: none;
}

@media(max-width: 768px){
  .rounded{
    padding-top: 3em;
  }
}

/*COMPAGNI*/

.searchbody{
  width: 100%;
}

.widget-26 {
  color: #3c4142;
  font-weight: 400;
  margin:0;
}

.widget-26 tr:first-child td {
  border: 0;
}

.widget-26 .widget-26-job-emp-img img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
}

.widget-26-job-title{
  max-width:340px;
  padding:0px;
}

.widget-26 .widget-26-job-title a {
  font-weight: 400;
  font-size: 1.0rem;
  color: #3c4142;
  line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
  color: #4e0612;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
font-size: 12px;
font-weight: 400;
}

.widget-26 .widget-26-job-info {
font-weight: 400;
}

.widget-26 .widget-26-job-info p {
line-height: 1.5;
color: #3c4142;
font-size: 1rem;
}

.widget-26 .widget-26-job-info .location {
color: #3c4142;
}

.widget-26 .widget-26-job-salary {
min-width: 70px;
font-weight: 400;
color: #3c4142;
font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
padding: .5rem;
display: inline-flex;
white-space: nowrap;
border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
width: 13px;
height: 13px;
margin-right: .5rem;
float: left;
border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
font-size: 0.8125rem;
color: #3c4142;
font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
width: 30px;
height: 30px;
color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
fill: #fd8b2c;
}
.bg-soft-base {
background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}


.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
  color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
  color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
.search-body .search-filters {
  display: flex;
}
.search-body .search-filters .filter-list {
  margin-right: 1rem;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px){
.col-lg-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}
.card {
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border:0px; 
  border-radius: 8px;
}


.form-select{
  width: 100% !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0077ff;
}

.bioedit{
  width: 100%;
  resize:none;
}

.blue-border-focus .form-control:focus {
  border: 1px solid #0077ff;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

#exampleFormControlSelect1{
  cursor: pointer;
}

#indirizzodiv2,#facoltadiv2{
  display:none;
}

.indfacselect{
  cursor: pointer;
}

.indirizzofacoltasearch{
  border: 1px solid rgb(131, 131, 131);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.indirizzofacoltasearch:hover{
  background-color: #d1d1d1;
}

.disappear{
  display:none;
}

.tablerowhover{
  table-layout: auto;
  width:100%;
  
  border: 1px solid rgb(161, 161, 161);
  border-radius: 10px;
  border-collapse: separate;
  overflow:hidden;
}

.tablerowhover:hover{
  background: #ffc1c1;
}


.tableinfos{
  display: flex;
  min-width:22vw !important;
  max-width:22vw !important;
  margin-left: 0.5em ;
  margin-right: 1em ;
}

.tablebio{
  justify-content: start;
  width:100%;
  font-style: italic;
}

#chaticon{
  display: none;
  z-index: 100;
}

#chaticon svg{
  transform: scale(1);
  transition: all 0.1s ease-in;
}

#chaticon svg:hover{
  transform: scale(1.1);
  fill:#4e0612;
}

@media(max-width: 991px){
  .tablebio{
    display: none;
  }
  #chaticon{
    display: inline;
  }
}

/*POPUP BIOGRAFIA*/

.popupbio-container{
  background-color: rgb(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity:0;
  transition: all 2s ease-in;
}

.popupbio{
  width:90%;
  height:fit-content;
  display: grid;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0px;
  box-shadow: 10px 10px 50px;
  border-radius: 20px;
  overflow: hidden;
}

.popupbio .main{
  text-align: center;
  color:black;
  font-size: 1.2em;
  margin: 1em;
  height: auto;
}

.popupbio .border{
  background: linear-gradient(to right, #4e0612,black);
  color:white;
  min-height: 2.0em;
}


.popupbio .bordertop{
  min-height: 2.5em;
  display: grid;
  place-content: center;
  font-size: 1.3em;
  text-decoration: underline;
  position: relative;
}


.popupbio .bordertop .popup-closer{
  position:absolute;
  top:7px;
  right:20px;
  cursor:pointer;
}


/*ANNUNCI CSS*/

.profile-header {
  position: relative;
  overflow: hidden
}

.profile-header .profile-header-cover {
  background-image: url(https://bootdey.com/img/Content/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.profile-header .profile-header-cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}

.profile-header .profile-header-content {
  color: #fff;
  padding: 25px
}

.profile-header-img {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 0 -20px;
  padding: 3px;
  border-radius: 4px;
  background: #fff
}

.profile-header-img img {
  max-width: 100%
}

.profile-header-info h4 {
  font-weight: 500;
  color: #fff
}

.profile-header-img+.profile-header-info {
  margin-left: 140px
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
  position: relative
}

.b-minus-1,
.b-minus-10,
.b-minus-2,
.b-minus-3,
.b-minus-4,
.b-minus-5,
.b-minus-6,
.b-minus-7,
.b-minus-8,
.b-minus-9,
.b-plus-1,
.b-plus-10,
.b-plus-2,
.b-plus-3,
.b-plus-4,
.b-plus-5,
.b-plus-6,
.b-plus-7,
.b-plus-8,
.b-plus-9,
.l-minus-1,
.l-minus-2,
.l-minus-3,
.l-minus-4,
.l-minus-5,
.l-minus-6,
.l-minus-7,
.l-minus-8,
.l-minus-9,
.l-plus-1,
.l-plus-10,
.l-plus-2,
.l-plus-3,
.l-plus-4,
.l-plus-5,
.l-plus-6,
.l-plus-7,
.l-plus-8,
.l-plus-9,
.r-minus-1,
.r-minus-10,
.r-minus-2,
.r-minus-3,
.r-minus-4,
.r-minus-5,
.r-minus-6,
.r-minus-7,
.r-minus-8,
.r-minus-9,
.r-plus-1,
.r-plus-10,
.r-plus-2,
.r-plus-3,
.r-plus-4,
.r-plus-5,
.r-plus-6,
.r-plus-7,
.r-plus-8,
.r-plus-9,
.t-minus-1,
.t-minus-10,
.t-minus-2,
.t-minus-3,
.t-minus-4,
.t-minus-5,
.t-minus-6,
.t-minus-7,
.t-minus-8,
.t-minus-9,
.t-plus-1,
.t-plus-10,
.t-plus-2,
.t-plus-3,
.t-plus-4,
.t-plus-5,
.t-plus-6,
.t-plus-7,
.t-plus-8,
.t-plus-9 {
  position: relative!important
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 0 0 140px;
  white-space: nowrap;
  border-radius: 0
}

.text-ellipsis,
.text-nowrap {
  white-space: nowrap!important
}

.profile-header .profile-header-tab>li {
  display: inline-block;
  margin: 0
}

.profile-header .profile-header-tab>li>a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  border: none
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
  color: #242a30
}

.profile-content {
  padding: 25px;
  border-radius: 4px
}

.profile-content:after,
.profile-content:before {
  content: '';
  display: table;
  clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
  background: 0 0
}

.profile-left {
  width: 200px;
  float: left
}

.profile-right {
  margin-left: 240px;
  padding-right: 20px
}

.profile-image {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid #E2E7EB;
  overflow: hidden;
  border-radius: 4px
}

.profile-image img {
  display: block;
  max-width: 100%
}

.profile-highlight {
  padding: 12px 15px;
  background: #FEFDE1;
  border-radius: 4px
}

.profile-highlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

.table.table-profile>thead>tr>th {
  border-bottom: none!important
}

.table.table-profile>thead>tr>th h4 {
  font-size: 20px;
  margin-top: 0
}

.table.table-profile>thead>tr>th h4 small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px
}

.table.table-profile>tbody>tr>td,
.table.table-profile>thead>tr>th {
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #242a30;
  background: 0 0
}

.table.table-profile>tbody>tr>td.field {
  width: 20%;
  text-align: right;
  font-weight: 600;
  color: #2d353c
}

.table.table-profile>tbody>tr.highlight>td {
  border-top: 1px solid #b9c3ca;
  border-bottom: 1px solid #b9c3ca
}

.table.table-profile>tbody>tr.divider>td {
  padding: 0!important;
  height: 10px
}

.profile-section+.profile-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
  content: '';
  display: table;
  clear: both
}

.profile-section .title {
  font-size: 20px;
  margin: 0 0 15px
}

.profile-section .title small {
  font-weight: 400
}

body.flat-black {
  background: #E7E7E7
}

.flat-black .navbar.navbar-inverse {
  background: #212121
}

.flat-black .navbar.navbar-inverse .navbar-form .form-control {
  background: #4a4a4a;
  border-color: #4a4a4a
}

.flat-black .sidebar,
.flat-black .sidebar-bg {
  background: #3A3A3A
}

.flat-black .page-with-light-sidebar .sidebar,
.flat-black .page-with-light-sidebar .sidebar-bg {
  background: #fff
}

.flat-black .sidebar .nav>li>a {
  color: #b2b2b2
}

.flat-black .sidebar.sidebar-grid .nav>li>a {
  border-bottom: 1px solid #474747;
  border-top: 1px solid #474747
}

.flat-black .sidebar .active .sub-menu>li.active>a,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li>a:focus,
.flat-black .sidebar .nav>li>a:hover,
.flat-black .sidebar .sub-menu>li>a:focus,
.flat-black .sidebar .sub-menu>li>a:hover,
.sidebar .nav>li.nav-profile>a {
  color: #fff
}

.flat-black .sidebar .sub-menu>li>a,
.flat-black .sidebar .sub-menu>li>a:before {
  color: #999
}

.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:hover,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:hover {
  color: #000
}

.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:focus>a,
.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:hover>a {
  background: #323232
}

.flat-black .page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li.active>a:focus,
.flat-black .sidebar .nav>li.active>a:hover,
.flat-black .sidebar .nav>li.nav-profile,
.flat-black .sidebar .sub-menu>li.has-sub>a:before,
.flat-black .sidebar .sub-menu>li:before,
.flat-black .sidebar .sub-menu>li>a:after {
  background: #2A2A2A
}

.flat-black .page-sidebar-minified .sidebar .sub-menu>li:before,
.flat-black .page-sidebar-minified .sidebar .sub-menu>li>a:after {
  background: #3e3e3e
}

.flat-black .sidebar .nav>li.nav-profile .cover.with-shadow:before {
  background: rgba(42, 42, 42, .75)
}

.bg-white {
  background-color: #fff!important;
}
.p-10 {
  padding: 10px!important;
}
.media.media-xs .media-object {
  width: 32px;
}
.m-b-2 {
  margin-bottom: 2px!important;
}
.media>.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}


.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 50px;
  padding: 20px 0
}

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block;
  font-weight: 600
}

.timeline .timeline-time .date {
  line-height: 16px;
  font-size: 12px
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 20px;
  color: #242a30
}

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 23%;
  margin-right: 17%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px
}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px
}

.timeline .timeline-body>div+div {
  margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
}

.timeline-header .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.timeline-title {
  margin-top: 0
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timeline-footer a:not(.btn) {
  color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timeline-likes .stats-right {
  float: right
}

.timeline-likes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timeline-likes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timeline-likes .stats-text {
  line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}


/*CUSTOM ANNUNCI*/

.btn-success{
  border-radius: 30px;
}

.writeannuncio{
  transform: scale(1.0);
  transition: all 0.1s ease-in;
}

.writeannuncio:hover{
  transform: scale(1.05);
}

.searchform{
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 1em;
  width: 50%;
  height: 40px;
  position: relative;
}

.searchform svg{
  position:absolute;
  top:8px;
  left:10px;
  cursor: pointer;
  transform:scale(1);
  transition: all 0.1s ease-in;
}

.searchform svg:hover{
  transform:scale(1.1);
  color:blue;
}


.searchform .form-control{
  margin-left: 35px;
  margin-top:1px;
  border-radius: 30px;
}

.writecontainer{
  height: 21em;
}

.writer{
  background-color: black;
  width: 70%;
  height: 100%;
}

.stats svg{
  cursor:pointer;
  transform: scale(1.2);
  transition: all 0.1s ease-in;
}

.stats svg:hover{
  fill: blue;
  transform: scale(1.3);
}


.date{
  padding-right: 1em;
}

@media(max-width:700px){
  .profile-content{
    padding-left:0%;
    padding-right: 0%;
  }
  .time{
    padding-right:  10px;
    }
}
  
.username:hover{
  color: rgb(109, 0, 0);
}
